<h1>Oregon WildLife Report</h1>

<div class="row">
    <label>Badge ID: </label>
    <input type="text" name="badgeID">
    <label>Password: </label>
    <input type="text" name="password">
</div>
<div class="row">
  <a href="/dashboard"><button class="btn btn-default" type="button" name="button">Login</button></a>
  <a href="/register"><button class="btn btn-default" type="button" name="button">Register</button></a>
</div>
